body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: #94db94;
    padding: 0 2%;
}

.menu {
    display: flex;
    width: auto;
}

.menu div {
    display: flex;
    padding: 0 10px;
}

.menu div a {
    margin: auto;
    text-decoration: none;
    color: black;
}

.menu div:hover {
    background-color: #73db75;
}

.logo {
    margin: auto 0;
    position: relative;
    right: 10%;
    font-size: 20pt;
}

.content {
    height: auto;
}

.content-numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0% 2%;
}

.page-numbers {
    display: inline-block;
    margin: 10px 0;
    border: solid grey 1px;
    border-color: rgba(0, 0, 0, 0.3);
}

.page-numbers ul {
    margin: 0;
    padding: 10px;
}

.page-numbers ul li {
    display: inline;
    margin: 7px;
}

.page-numbers ul li a {
    text-decoration: none;
    color: grey;
}

.page-numbers ul li a:visited {
    color: grey;
}

.page-numbers ul li a:hover {
    text-decoration: underline;
    color: green;
}

.content-title {
    margin: 10px 0;
    display: flex;
}

.content-headline {
    color: grey;
    padding: 9px;
    border: solid grey 1px;
    border-color: rgba(0, 0, 0, 0.3);
}

.headlines {
    margin: 0;
    background-color: #b7dbb7;
    border: none;
}

.headlines ul li a {
    text-decoration: none;
    color: black;
}

.headlines ul li a:visited {
    color: black;
}

.headlines ul li a:hover {
    text-decoration: none;
}

.banners {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.banner {
    float: left;
    width: 285px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.banner img {
    width: 285px;
}

.article {
    word-wrap: break-word;
    padding: 15px;
}

.article-header {
    font-size: 14pt;
    color: grey;
}

.article-header p {
    font-size: 8pt;
    opacity: 0.5;
    margin: 5px 0px;
}

.text-main {
    padding: 15px 0px;
    color: grey;
    opacity: 0.9;
    font-size: 14px;
    line-height: 1.5em;
}

.text-footer {
    padding-top: 10px;
    border-top: dotted grey 1px;
    opacity: 0.5;
}

.comment {
    display: inline-block;
    font-size: 10pt;
    opacity: 0.5;
}

.like {
    float: right;
    color: black;
}

.like span {
    font-size: 14px;
}

.like-red {
    color: red;
}

.slider {
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 10px;
}

.footer {
    height: 50px;
    background: #94db94;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22);
    font-size: .8rem;
    color: #000000;
    display: flex;
    justify-content: space-between;
    flex: none;
}

.sign {
    margin: auto 0;
    font-size: 10pt;
}

.public {
    margin: auto 0;
}

.public img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

@media all and (max-width: 600px) {
    .logo {
        order: 0;
        display: flex;
        justify-content: center;
        left: 0;
        text-align: center;
        width: 100%;
        height: 30px;
    }

    .header {
        height: auto;
        padding: 0;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }

    .menu {
        order: 1;
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
        width: 100%;
    }

    .menu div {
        width: 100%;
        padding: 0;
    }

    .menu div a {
        text-align: center;
        padding: 10px;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .content-numbers {
        flex-wrap: wrap;
        justify-content: center;
    }

    .page-numbers {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }

    .footer {
        height: auto;
    }

    .sign {
        order: 1;
        margin: 5px 0;
    }

    .public {
        order: 0;
        margin: 5px 0;
    }
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 16px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #d7d7d7;
    border-radius: 3.7px;
    border: 0px solid rgba(0, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1.8px solid rgba(0, 0, 0, 0);
    height: 20px;
    width: 90px;
    border-radius: 4px;
    background: rgba(148, 219, 148, 0.7);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #dadada;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #d7d7d7;
    border-radius: 3.7px;
    border: 0px solid rgba(0, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1.8px solid rgba(0, 0, 0, 0);
    height: 34px;
    width: 45px;
    border-radius: 7px;
    background: #94db94;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #d4d4d4;
    border: 0px solid rgba(0, 1, 1, 0);
    border-radius: 7.4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
    background: #d7d7d7;
    border: 0px solid rgba(0, 1, 1, 0);
    border-radius: 7.4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 1.8px solid rgba(0, 0, 0, 0);
    height: 34px;
    width: 45px;
    border-radius: 7px;
    background: #94db94;
    cursor: pointer;
    height: 2px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #d7d7d7;
}

input[type=range]:focus::-ms-fill-upper {
    background: #dadada;
}
